@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

body{
	padding-top: 25px;
	background-color: #eee;
}

.info-box{
	border-radius: 10px;
	background-color: white;	
	margin-bottom: 25px;
}

.info-text{
	color:  black;
	padding: 10px 20px;
}

.info-text h6{
	font-weight: bold;
}

.skill-bar{
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #eee;
}

.skill-bar p{
	border-radius: 10px;
	color: white;
	background-color: black;
}

.divider{
	margin: 15px 0px;
	background-color: #eee;
}

.perfil-img{
	border-radius: 10px;
	margin-bottom: 25px;
}

span.material-icons{
	margin-right: 10px;
}

.experiencia span.atual{
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	background-color: black;
}

.portfolio-card{
	position: relative;
	margin-bottom: 15px;
}

.portfolio-card img{
	border-radius: 0px 0px 10px 10px;
}

.portfolio-card p{
	padding: 15px 0px;
	border-radius: 10px 10px 0 0;
	color:  white;
	background-color: black;
}